* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF-text';
   src:url(SF-Pro-Text-Ultraligh.woff)format("woff");
}

@font-face {
  font-family:'SF-dis';
   src:url(/SF-Pro-Display-Ultralight.woff)format("woff");
}

@font-face {
  font-family:'hiraginoW0';
   src:url("ヒラギノ角ゴシック W0.woff")format("woff");
}

@font-face {
  font-family:'hiraginoW1';
   src:url("ヒラギノ角ゴシック W1.woff")format("woff");
}

.top{
  position:relative;;
  width: 100%;
}

.background{
  width: 100%;
}

.background video{
  width: 100%;
}

.title{
  position: absolute;
  z-index: 999;
  width: 50%;
  top:15%;
  left:25%;
}

.title video{
  width: 100%;
  position: absolute;
  z-index: 999;
}

.fadeIn {
 opacity: 0;
 transform : translate(0, 50px);
 transition : all 2000ms;
}

.fadeIn.scrollIn{
 opacity: 1;
 transform: translate(0, 0);
}

.work{
  width: 100%;
  margin-top: 10%;
  margin-bottom: 100%;
}

.work p{
  font-family:"hiraginoW1";
  font-size: 200%;
  text-align: center;
}

.task{
  display: inline-block;
  width: 30%;
  text-align: center;
  float: left;
  padding-left: 5%;
}

.img{
  display: inline-block;
  width: 30%;
  text-align: center;
  float: left;
  padding-left: 5%;
}

.comment{
  display: inline-block;
  width: 30%;
  text-align: center;
  float: left;
  padding-bottom: 5%;
  padding-left: 5%;
}

.comment p{
  font-family:"hiraginoW0";
  font-size: 100%;
}

.skill{
  height: 100%;
}

#skillTitle{
  font-family:"hiraginoW1";
  font-size: 200%;
  text-align: center;
}

.skill p{
  font-family:"hiraginoW0";
  font-size: 150%;
  text-align: center;
}

#contactTitle{
  font-family:"hiraginoW1";
  font-size: 200%;
  text-align: center;
}

.contact{
  margin-top: 10%;
  margin-bottom: 5%;
}

.contact a{
  text-decoration: none;
}

.contact p{
  font-family:"hiraginoW0";
  font-size: 150%;
  text-align: center;
}

footer{
  margin-top: 10%;
  height: 10%;
}

.copyright {
  width: 100%;
  text-align: center;
}

.copyright a{
  text-decoration: none;
}

.copyright p {
font-family:'hiraginoW0';
  font-weight:100;
  font-size: 100%;
}


/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/
@media(max-width:1500px){

.skill{
  margin-top: 90%;
}

.comment p{
  font-size: 80%;
}

}
/*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*/
