* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF-text';
   src:url(SF-Pro-Text-Ultraligh.woff)format("woff");
}

@font-face {
  font-family:'SF-dis';
   src:url(/SF-Pro-Display-Ultralight.woff)format("woff");
}

@font-face {
  font-family:'hiraginoW0';
   src:url("ヒラギノ角ゴシック W0.woff")format("woff");
}

@font-face {
  font-family:'hiraginoW1';
   src:url("ヒラギノ角ゴシック W1.woff")format("woff");
}

.top{
  position:relative;;
  width: 100%;
}

.background{
  width: 100%;
}

.background video{
  width: 100%;
}

.title{
  position: absolute;
  z-index: 999;
  width: 50%;
  top:20%;
  left:25%;
}

.title video{
  width: 100%;
  position: absolute;
  z-index: 999;
}

.work{
  width: 100%;
  margin-top: 10%;
}

.work p{
  font-family:"hiraginoW1";
  font-size: 200%;
  text-align: center;
}

ul{
  width: 100%;
}

li{
  display: inline;
  width:30%;
}

.skill{
  height: 100%;
  margin-top: 10%;
}

#skillTitle{
  font-family:"hiraginoW1";
  font-size: 200%;
  text-align: center;
}

.skill p{
  font-family:"hiraginoW0";
  font-size: 150%;
  text-align: center;
}

#contactTitle{
  font-family:"hiraginoW1";
  font-size: 200%;
  text-align: center;
}

.contact{
  margin-top: 10%;
}

.contact p{
  font-family:"hiraginoW0";
  font-size: 150%;
  text-align: center;
}

footer{
  margin-top: 10%;
  height: 10%;
}

.copyright {
  width: 100%;
  text-align: center;
}

.copyright p {
font-family:'SF-text';
  font-weight:100;
  font-size: 100%;
}


/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/



/*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*/
