* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF-text';
   src:url(SF-Pro-Text-Ultraligh.woff)format("woff");
}

@font-face {
  font-family:'SF-dis';
   src:url(/SF-Pro-Display-Ultralight.woff)format("woff");
}

.top{
  position:relative;;
  width: 100%;
}

.background{
  width: 100%;
}

.background video{
  width: 100%;
}

.title{
  position: absolute;
  z-index: 999;
  width: 100%;
}

.title video{
  width:50%;
  position: absolute;
  z-index: 999;
  top:-50%;
  left:25%;
}

.copyright {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:0;
}

.copyright p {
font-family:'SF-text';
  font-weight:100;
  font-size: 100%;
  text-align: center;
  bottom: 0;
}


/*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*//*tablet*/



/*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*//*SMP*/
